.box{
    display : flex;
    justify-content : center;
    align-items : center;
    margin-top : 50px;
    /* border : 1px solid red; */
}

.container{
    border : 5px solid brown;
    width : 794px;
    height : 500px;
    display : flex;
    flex-wrap : wrap;
    align-content : flex-start;
}

.top{
    height : 100px;
    /* border : 1px solid red; */
    display:flex;
    justify-content:center;
    align-items:center;
    gap:100px;
}


